<!doctype html>
<html>

<body>

    <table>
        <td onclick="window.location = window.location + 'player/1'">1</td>
        <td onclick="window.location = window.location + 'player/2'">2</td>
        <td onclick="window.location = window.location + 'player/3'">3</td>
        <td onclick="window.location = window.location + 'player/4'">4</td>
        <td onclick="window.location = window.location + 'player/5'">5</td>
        <td onclick="window.location = window.location + 'player/6'">6</td>
    </table>

</body>

</html>